.tableContainer {
  overflow: scroll;
  background-color: #101522;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .tableH {
    margin: calc(1rem + 1vw);
    border-radius: 1rem;
    border: 1px solid #504f4f;
  }
}

.table th {
  padding: calc(0.5rem + 0.5vw);
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
}

.table thead tr {
  border-bottom: 1px solid #504f4f;
}

.table tbody tr td {
  padding: 1rem;
  text-align: center;
}
.table tbody tr {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  transition: 0.2s;
}
.table tbody tr:hover {
  background-color: #80848e;
  cursor: pointer;
  color: #101522;
  z-index: 1111;
  font-weight: 700;
  font-size: 1.2rem;
}
.tableContainer::-webkit-scrollbar {
  display: none;
}
